.services-content .container {
  --lqd-container-width-sm: 1024px;
  --lqd-container-width-md: 1024px;
}
.services-content .module-first {
  --lqd-sticky-offset: 30px;
  top: calc(var(--lqd-sticky-offset) + var(--lqd-sticky-header-height, 0px));
}
.services-content .module-first .module-list-bg a {
  font-family: montserrat, Sans-serif;
}
.services-content .module-first .lqd-contact-form {
  --inputs-margin: 0 0 10px 0;
  --input-margin-bottom: 10px;
}
.services-content .module-first input:not([type="submit"]):focus,
.services-content .module-first textarea:focus,
.services-content .module-first .lqd-contact-form select:focus,
.services-content .module-first .ui-button.ui-selectmenu-button:focus {
  color: #000;
}
.services-content .module-last .lqd-fb-content .lqd-fb__title {
  font-weight: 600;
}
.services-content .accordion-side-spacing .accordion-title a {
  padding: 1.05em 1.5em;
}
@media (max-width: 1199px) {
  .services-content .module-first,
  .services-content .module-last {
    padding-right: 40px;
    padding-left: 40px;
  }
  .services-content .module-list-col {
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .services-content .module-first {
    padding: 70px 20px 10px;
  }
  .services-content .module-last {
    padding: 40px 20px 0;
  }
}

.left-section, .midle-section, .right-section{
  display: flex;
  margin: 50px;
}

.left-part{
  flex-basis: 55%;
}

.right-part{
  flex-basis: 45%;
} 

.left-section .subtitle {
  width: 70%;
  margin-top: 20px;
  font-size: 15px;
}

.left-section .description{
  width: 70%;
}

.service-content .number{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#005d9b;
  color: white; 
}

.left-section .number{
  float: right;
  margin-right: 100px;
}

.midle-section {
  padding-top: 100px;
  padding-bottom: 100px;
}


.midle-section .number{
  margin-left: 100px;
}

.midle-section .left-part{
  text-align: right;
} 

.midle-section .left-part .subtitle{
  
}

.midle-section .left-part .description{
  
}

.service-container{
  height: auto;
}

.service-content:last-child{
  padding-bottom: 100px;
}

